<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GD Camberwell 2018</title>
    <link rel="stylesheet" href="{{"/main.css" | url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{"/apple-touch-icon.png" | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{"/favicon-32x32.png" | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{"/favicon-16x16.png" | url }}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#f7f7f7">
    <meta name="theme-color" content="#ffffff">
    <script>
        const people = [

            {% for person in names %}
        {
            first_name: "{{person.first_name}}",
                last_name: "{{person.last_name}}",
                    url: "{{person.website}}",
                        id: "{{ person.id }}"
        },
        {% endfor %}
        
        ]

        const images = [

            {% for image in images %}
        {
            filename: "{{image.filename}}",
                person: "{{image.person}}",
                    color: "{{image.color}}",
        },
        {% endfor %}
        
        ]
    </script>
</head>

<body>
    {{ content }}
    <script src="{{"/js/main.js" | url }}"></script>
</body>

</html>